<html>
    <head>
        <title>Snake with p5.js</title>
    </head>
    <body>

    <div>Share this link to your friend! <p>http://localhost:3000/<span id="token"><%= token %></span></p></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
    <script src="js/snake.js"></script>
    <script src="js/sketch.js"></script>
    <script src="js/food.js"></script>
    </body>
</html>
